#deal-hand, #player-hand {
  clear: left;
}
#choice {
  padding: 10px;
  width: 100%;
}

body {
 background: green url("http://www.matthewtesterman.com/img/bg.png") left top;
}

#loose-modal {
  background-color: rgba(0,0,0,0.8);
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 33%;
  border-radius: 5px;
  position: absolute;
  width: 50%;
  min-height: 100px;
  display: none;
}

#winner-modal {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 33%;
  border-radius: 5px;
  position: absolute;
  width: 50%;
  min-height: 100px;
  display: none;
}
#push-modal {
  background-color: #ffc108;
  color: #212529;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 33%;
  border-radius: 5px;
  position: absolute;
  width: 50%;
  min-height: 100px;
  display: none;
}
